# Pseudononymous Access To Encrypted Table

This notebook shows how to use [pgsodium]() and [postgresql-anonymizer]() to provide psudononymous access to encrypted table data.  `pgsodium` is used to encrypt the data, and the `anon` extension is used to anonymize it, and to make some fake test data as you'll see.  First we'll load the sql extension for jupyer and connect to the database running with this container.  The source code can be found [here]().

In [1]:
%load_ext sql
%sql postgresql://postgres@/
%sql -f pgsodium_anonymizer.sql

 * postgresql://postgres@/
Done.
Done.
Done.
Done.
Done.
Done.
Done.
1 rows affected.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

## Demo Data

Now make some demo data with the provided function.  This will create N number of encrypted demo records.

In [2]:
%sql select demo_data(10)
%sql select count(*) from encrypted_record

 * postgresql://postgres@/
1 rows affected.
 * postgresql://postgres@/
1 rows affected.

[(10,)]

## Access Decrypted Data

While still the `postgres` superuser role, we can see the raw decrypted data.  This is the data we want to protect from other roles in the system like `staff`.

In [3]:
%sql select rec.* from encrypted_record e left join lateral decrypt_record(e.id) rec on true limit 10;

 * postgresql://postgres@/
10 rows affected.

[(1, 'yahya', 'Chiotti', 95, 'Kālābāgh', datetime.datetime(2018, 3, 2, 17, 7, 5, 124475, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (2, 'daley', 'Chiotti', 53, 'Mount Lebanon', datetime.datetime(2013, 3, 8, 13, 57, 39, 824305, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (3, 'pierina', 'Horenstein', 14, 'Narangba', datetime.datetime(2014, 10, 25, 3, 53, 20, 76964, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (4, 'jouko', 'Defiore', 94, 'Kalocsa', datetime.datetime(2013, 3, 7, 4, 15, 50, 335154, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (5, 'ilana', 'Bagley', 26, 'Mitras Poniente', datetime.datetime(2015, 7, 6, 16, 24, 43, 602278, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (6, 'anatoli', 'Wesolowski', 70, 'Talca', datetime.datetime(2016, 2, 22, 5, 12, 3, 492212, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (7, 'zayd', 'Lemarr', 87, 'Almansa', datetime.datetime(2014, 5, 28, 13, 57, 14, 294830, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (8, 'sanna', 'Touchette', 74, 'Novokhovrino', datetime.datetime(2013, 3, 3, 9, 12, 7, 639588, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (9, 'aaliyah', 'Feldmann', 40, 'Monte Azul Paulista', datetime.datetime(2014, 9, 21, 8, 15, 34, 225063, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (10, 'della', 'Calderone', 54, 'Teshi Old Town', datetime.datetime(2012, 9, 9, 21, 35, 57, 563589, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)))]

## Restrict Access by Role

After switching roles with `SET ROLE` the `staff` role can only call the `pseudo_record()` function, it cannot access the `encrypted_record` table or the `decrypt_record` function at all.

In [4]:
%sql SET ROLE staff
%sql select * from encrypted_record
%sql select decrypt_record(1)

 * postgresql://postgres@/
Done.
 * postgresql://postgres@/
(psycopg2.errors.InsufficientPrivilege) permission denied for table encrypted_record

[SQL: select * from encrypted_record]
(Background on this error at: http://sqlalche.me/e/13/f405)
 * postgresql://postgres@/
(psycopg2.errors.InsufficientPrivilege) permission denied for function decrypt_record

[SQL: select decrypt_record(1)]
(Background on this error at: http://sqlalche.me/e/13/f405)

## Pseudononymous Access

Now as the `staff` role, you only access pseudononymous data.  Notice how the names are different, the age is a range, the secret is obscured, and the signup date is shown as a month.

In [5]:
%sql select rec.* from encrypted_record e left join lateral pseudo_record(e.id) rec on true limit 10;

 * postgresql://postgres@/
10 rows affected.

[(1, 'gioachino', 'Lauderman', NumericRange(95, 100, '[)'), 'Kāxxxxxxxxxgh', datetime.datetime(2018, 3, 1, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (2, 'kanti', 'Lauderman', NumericRange(50, 55, '[)'), 'Moxxxxxxxxxon', datetime.datetime(2013, 3, 1, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (3, 'pleasance', 'Warehime', NumericRange(10, 15, '[)'), 'Naxxxxxxxxxba', datetime.datetime(2014, 10, 1, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (4, 'dalal', 'Pettway', NumericRange(90, 95, '[)'), 'Kaxxxxxxxxxsa', datetime.datetime(2013, 3, 1, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (5, 'serafima', 'Fitzen', NumericRange(25, 30, '[)'), 'Mixxxxxxxxxte', datetime.datetime(2015, 7, 1, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (6, 'cináed', 'Lydon', NumericRange(70, 75, '[)'), 'Taxxxxxxxxxca', datetime.datetime(2016, 2, 1, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (7, 'grania', 'Mcmanigal', NumericRange(85, 90, '[)'), 'Alxxxxxxxxxsa', datetime.datetime(2014, 5, 1, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (8, 'ingrid', 'Nastasia', NumericRange(70, 75, '[)'), 'Noxxxxxxxxxno', datetime.datetime(2013, 3, 1, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (9, 'laurelle', 'Malsom', NumericRange(40, 45, '[)'), 'Moxxxxxxxxxta', datetime.datetime(2014, 9, 1, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (10, 'wilton', 'Hoscheit', NumericRange(50, 55, '[)'), 'Texxxxxxxxxwn', datetime.datetime(2012, 9, 1, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)))]